.paginaPrincipal {
    display: grid;
    grid-template-areas: "cabecera cabecera"
        "navegacion contenido"
        "piePagina piePagina";

    grid-template-columns: 2fr 18fr;
    grid-template-rows: 150px;
    grid-gap: 20px;
}

.paginaPrincipal header {
    grid-area: cabecera;
}

.paginaPrincipal nav {
    grid-area: navegacion;
}

.paginaPrincipal article {
    grid-area: contenido;
}

.paginaPrincipal footer {
    grid-area: piePagina;
}
.paginaPrincipal article p:hover{
    color: #ffffff;
    background-color: #1f68d685;
    font-size: 15px;
    cursor: pointer;
}
.paginaPrincipal nav ul li a{
    color: black;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px;
}
.paginaPrincipal nav ul li a:hover{
    color: white;
    background-color: #7dc9bc;
    border-bottom: 3px solid #6463be;
}
